.item {
  margin: 24px 0;

  &:first-of-type {
    margin-top: 0;
  }

  .title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--rcm-consent-item-border);
    align-items: flex-end;
    margin-bottom: 16px;

    .label,
    .mandatory {
      margin-bottom: 16px;
    }

    .mandatory {
      height: 28px;
      font-size: 14px;
      font-weight: bold;
      color: var(--rcm-necessary-text-color);
      display: flex;
      align-items: center;
    }
  }

  .description {
    margin: 8px 0;
    font-weight: normal;
    line-height: 24px;
  }
}
