.banner {
  display: block;
  position: fixed;
  z-index: 99999;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 36px;
  transition: all 0.3s ease;
  background-color: var(--rcm-banner-bg);
  box-shadow: rgb(0 0 0 / 10%) 0 -8px 8px 0;

  .content {
    max-width: 1440px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    gap: 16px;

    .message {
      transition: all 0.3s ease;
      color: var(--rcm-text-color);

      a {
        transition: all 0.3s ease;
        color: var(--rcm-text-color);
        font-weight: bold;
        text-decoration: none;
      }
    }

    .actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;

      @media (max-width: 992px) {
        flex-direction: column;
        align-items: flex-start;

        button {
          width: 100%;
        }
      }
    }

    .secondary {
      height: 44px;
      flex: auto;
      font-size: 14px;
      font-family: inherit;
      line-height: 24px;
      font-weight: 300;
      padding: 8px 32px;
      margin: 0;
      white-space: nowrap;
      border-radius: var(--rcm-border-radius);
      transition: all 0.3s ease;
      border: 1px solid var(--rcm-button-secondary-border);
      background-color: var(--rcm-button-secondary-bg);
      color: var(--rcm-button-secondary-text-color);
      cursor: pointer;

      &:hover {
        background-color: var(--rcm-button-secondary-bg-hover);
      }
    }

    .primary {
      height: 44px;
      flex: auto;
      font-size: 14px;
      font-family: inherit;
      line-height: 24px;
      font-weight: 300;
      margin: 0;
      white-space: nowrap;
      padding: 8px 32px;
      border-radius: var(--rcm-border-radius);
      transition: all 0.3s ease;
      border: 1px solid var(--rcm-button-primary-border);
      background-color: var(--rcm-button-primary-bg);
      color: var(--rcm-button-primary-text-color);
      cursor: pointer;

      &:hover {
        background-color: var(--rcm-button-primary-bg-hover);
        border-color: var(--rcm-transparent);
      }
    }
  }

  @media (max-width: 576px) {
    .content {
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;

      .message {
        padding-right: 0;
      }

      .actions {
        width: 100%;
      }
    }
  }
}
