.light,
:root,
[data-theme="light"] {
  --rcm-border-radius: 6px;
  --rcm-transparent: transparent;
  --rcm-text-color: #000;
  --rcm-button-primary-bg: #000;
  --rcm-button-primary-border: #000;
  --rcm-button-primary-text-color: #fff;
  --rcm-button-primary-bg-hover: #222;
  --rcm-button-secondary-bg: #fff;
  --rcm-button-secondary-border: #eee;
  --rcm-button-secondary-text-color: #000;
  --rcm-button-secondary-bg-hover: #eee;
  --rcm-banner-bg: #ebd2ff;
  --rcm-modal-bg: #fff6d2;
  --rcm-necessary-text-color: #00e317;
  --rcm-consent-item-border: #d6d6d6;
  --rcm-switch-bg: #fafafa;
  --rcm-switch-border: #ddd;
  --rcm-switch-handle-bg: #fafafa;
  --rcm-switch-checked-bg: #f0f0f0;
}

.dark,
[data-theme="dark"] {
  --rcm-text-color: #fff;
  --rcm-banner-bg: #59019c;
  --rcm-modal-bg: #093c9b;
  --rcm-switch-bg: #989898;
  --rcm-switch-border: #4e4e4e;
  --rcm-switch-handle-bg: #989898;
  --rcm-switch-checked-bg: #606060;
}
