.light,
:root,
[data-theme="light"] {
  --rcm-transparent: transparent;
  --rcm-white: #fff;
  --rcm-white-rgb: 255 255 255;
  --rcm-black: #000;
  --rcm-black-rgb: 0 0 0;
  --rcm-primary: #007bff;
  --rcm-primary-rgb: 0 123 255;
  --rcm-secondary: #73fa58;
  --rcm-secondary-rgb: 115 250 88;
}

.dark,
[data-theme="dark"] {
  --rcm-white: #000;
  --rcm-white-rgb: 0 0 0;
  --rcm-black: #fff;
  --rcm-black-rgb: 255 255 255;
}
